.DS_Store
node_modules
/dist
/src/version.ts
/src/licenses.json
/public/openpgp
/public/sitemap.xml
/public/robots.txt
/public/service-worker.js
/public/service-worker.js.map
/src/service-worker/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
