name: vue upgrade

on:
  workflow_dispatch:

jobs:
  vue_upgrade:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: 12.x
      - run: npm ci
      - uses: nwtgck/actions-vue-upgrade@develop
